@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dark {
  --bg:hsl(230, 17%, 14%);
  --text:hsl(0, 0%, 100%);
  --subtext: hsl(228, 34%, 66%);
  --card: hsl(228, 28%, 20%);
  --toggler:linear-gradient(to right,hsl(210, 78%, 56%),hsl(146, 68%, 55%));
}

.light {
  --bg: hsl(0, 0%, 100%);
  --subtext: hsl(228, 12%, 44%);
  --text: hsl(230, 17%, 14%);
  --card: hsl(227, 47%, 96%);
  --toggler:hsl(230, 22%, 74%);
}

:root {
  --LimeGreen: hsl(163, 72%, 41%);
  --BrightRed: hsl(356, 69%, 56%);
  --Facebook: hsl(208, 92%, 53%);
  --Twitter: hsl(203, 89%, 53%);
  --YouTube: hsl(348, 97%, 39%);
  --Instagram: linear-gradient(to right, hsl(37, 97%, 70%) , hsl(329, 70%, 58%)); 
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: 'Inter', sans-serif;
  background: var(--bg);
}

.dashboard {
  padding: 1.5rem 1.2rem;
}

.social-head .big {
  font-size: 1.4rem;
  margin-bottom: .3rem;
  color: var(--text);
}

.social-head {
  border-bottom: 1px solid var(--card);
  padding-bottom: 1rem;
  margin: .3rem 0 1rem;
}

.modes {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}

.toggler {
  width: 45px;
  min-width: 45px;
  height: 24px;
  margin-left: 10px;
  background-color: hsl(230, 22%, 74%);
  border-radius: 20px;
  cursor: pointer;
  background-image: var(--toggler);
}

.toggler-circle {
  margin: 2px 2px;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background-color: var(--bg);
  transition: 0.5s;
}

.accounts {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fill, 250px);
  justify-content: center;
}

.account {
  background: var(--card);
  text-align: center;
  padding: 1.5rem;
  border-radius: 4px;
}

#facebook {
  border-top: 3px solid var(--Facebook);
}

#twitter {
  border-top: 3px solid var(--Twitter);
}

#instagram {
  position: relative;
  overflow: hidden;
}

#instagram::after {
  content: '';
  background-image: var(--Instagram);
  height: 3px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#youtube {
  border-top: 3px solid var(--YouTube);
}

.social {
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

.title {
  font-size: 1rem;
  margin-left: 8px;
}

.followers {
  font-size: 3rem;
  color: var(--text);
  margin: 1rem 0 0;
  font-weight: 700;
}

.followers-text {
  color: var(--subtext);
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: .8rem;
}

.changes {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: .75rem;
}

.account .changes {
  margin: 1rem 0 0;
}

.up {
  color: var(--LimeGreen);
}

.down {
  color: var(--BrightRed);
}

.changes span {
  margin-left: 5px;
}

.overview {
  margin: 2rem 0 1rem;
}

.overview h2 {
  margin-bottom: 1rem;
  text-align: center;
}

.details {
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  justify-content: center;
  grid-gap: 1.5rem 1.5rem;
}

.detail {
  border-radius: 4px;
  background: var(--card);
  padding: 1rem;
}

.views {
  display: flex;
  justify-content: space-between;
}

.sm {
  color: var(--subtext);
  font-weight: 700;
}

.nums {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.2rem;
}

.num {
  color: var(--text);
  font-size: 1.5rem;
}

.nums .changes span {
  font-size: .9rem;
}

/* Color */
.big {
  color: var(--text);
}

.med {
  color: var(--subtext);
  font-weight: 700;
}

@media screen and (min-width: 800px){
  .dashboard {
    padding: 2rem 5%;
    max-width: 90%;
    margin: 0 auto;
  }

  .dashboard header {
    margin: 0 auto 1rem;
    display: flex;
    justify-content: space-between;
  }

  .social-head {
    border: none;
  }

}

@media screen and (min-width:1040px){
  .dashboard {
    padding: 2rem 5%;
    max-width: 90%;
    margin: 0 auto;
  }
  
  .overview h2 {
    text-align: left;
    margin: 0 auto 1.5rem;
  }
}